## facts
- Grisha converting SAB to PAB
  [r3 2026-09-25](https://www.loom.com/share/8e7db736690348a3a708702e99ee92ab?t=32)
  Q: does he pass video verif at transition, or do some just go through without him doing anything beyond?
  A: no video asked, it was instant (first 4 profiles)
  [r3 2026-09-25](https://www.loom.com/share/8e7db736690348a3a708702e99ee92ab?t=4060)
  Q: how many dropped-off?

- SAB to PAB method!!!!!!
  study the shit out of this

  aged gmails, couple of months old, keep active, and then they auto-verify. But he was in Canada.
  > that's Grisha's separate method for the other 6 (mobile data + location spoofer + VPN), 6/6, not tried in the US
  [r3 2026-09-25](https://www.loom.com/share/8e7db736690348a3a708702e99ee92ab?t=4104)
  [r3 2026-09-25](https://www.loom.com/share/8e7db736690348a3a708702e99ee92ab?t=4134)

- if vpn matches the location you're submitting from it's apparently better
  [r3 2026-09-25](https://www.loom.com/share/8e7db736690348a3a708702e99ee92ab?t=4253)
