## info
- *cleaning*: profiles instantly verify with no video at all — "just get a good gmail" — Eric
  [r2 2026-09-18](https://www.loom.com/share/c197556c940b4d01b53376dab70d32e5?t=1893)
